/* ---------------------------------------------------
    PALETA DE CORES
----------------------------------------------------- */
#P_C {
  color: rgb(60, 152, 165);
  color: rgb(165, 214, 219);
  color: rgb(244, 176, 95);
}

/* ---------------------------------------------------
    ESTILOS GERAIS
----------------------------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
  }
  
  p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #b3b3b3;
  }
  
  /* img {
    display: block;
    max-width: 100%;
  } */


/* ---------------------------------------------------
    ESTILO #SIDEBAR 
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 80px;
    max-width: 80px;
    background: transparent;
    color: transparent;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: 180px;
}

/* ---------------------------------------------------
    ESTILO #CONTENT 
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 768px) {
  #sidebar {
      margin-left: 0px;
  }
  #sidebar.active {
      margin-left: 180px;
  }
  #sidebarCollapse span {
      display: none;
  }
}

@media (min-width: 425px) {
  #sidebar {
      margin-left: 0px;
  }
  #sidebar.active {
      margin-left: 180px;
  }
  #sidebarCollapse span {
      display: none;
  }
}

@media (min-width: 320px) {
  #sidebar {
      margin-left: 0px;
  }
  #sidebar.active {
      margin-left: 180px;
  }
  #sidebarCollapse span {
      display: none;
  }
}